name: Build and Deploy Azure Function App (.NET 8)

on:
  push:
    branches:
      - uat

env:
  AZURE_FUNCTIONAPP_NAME: func4demo
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'               
  DOTNET_VERSION: '8.0'


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Restore NuGet packages
      - name: Restore
        run: dotnet restore

      # Build project
      - name: Build
        run: dotnet build --configuration Release --no-restore

      # Publish Azure Function
      - name: Publish
        run: dotnet publish --configuration Release --output ${{ env.PUBLISH_DIR }}
      # Login to Azure using Service Principal
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUB_ID }}

      # Deploy to Azure Function App
      - name: Deploy Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.PUBLISH_DIR }}
