name: Build and Deploy Function App

on:
  push:
    branches:
      - dev 

env:
  AZURE_FUNCTIONAPP_NAME: 'func4demo'   
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'               
  DOTNET_VERSION: '8.0'                              

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: npm install and build
      run: |
        npm install
        npm run build --if-present
        
    - name: 'Run Azure Function App Deployment'
      uses: Azure/functions-action@v1

      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        # publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
        environment: ${{ needs.environment.outputs.environment-name }}
      secrets:
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        

  